@font-face {
    font-family: 'Proxima Nova B';    
    src: url(/fonts/ProximaNova-Bold.ttf);  
}
@font-face {
    font-family: 'Proxima Nova N';
    src: url(/fonts/ProximaNova-Regular.ttf);
}
@font-face {
    font-family: 'Proxima Nova E';
    src: url(/fonts/ProximaNova-Light.ttf);
}
@font-face {
    font-family: 'Proxima Nova N2';
    src: url(/fonts/ProximaNova-Semibold.ttf);
}
body {
    margin: 0;
    padding: 0;
    min-width: 320px;
    color: #fff;
}
a {
    text-decoration: none;
    color: #fff;
}
p {
    padding: 0;
    margin: 0;
}
.container {
    max-width: 1170px;
    margin: auto;
}
.header {
    background-image: url('/img/bg1.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.header-wrapper {
    display: flex;
    align-items: center;
    padding-top: 45px;
}
.header-btn {
    margin-left: 130px;
    border: 2px solid #FFFFFF;
box-sizing: border-box;
padding: 18px 0px;
}
.header-btn a {
    font-family: 'Proxima Nova N';
    padding: 18px 43px;
}
.header-challenge {
    margin-top: 150px;
}
.header-challenge p {
    font-family: 'Proxima Nova B';
    font-size: 90px;
}
.header-new {
    margin-top: 30px;
    margin-bottom: 60px;
}
.header-new p {
    font-family: 'Proxima Nova N2';
    font-size: 40px;
    line-height: 57px;
}
.header-about {
    display: flex;
    align-items: center;
    margin-bottom: 90px;
}
.header-about__time {
    margin-left: 100px;
}
.header-about__text p{
    font-size: 30px;
    font-family: 'Proxima Nova E';
}
.header-about__time p {
    font-family: 'Proxima Nova N2';
    font-size: 30px;
}
.header-reg {
  
    background-color: #fff;
    max-width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.header-reg-wrap {
    padding-bottom: 147px;
}
.header-reg a {
    color: #0080C8;
    padding: 20px 50px;
    font-family: 'Proxima Nova N2';
    font-size: 19px;
}
.header-reg:hover {
    box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.25);
}
.header-btn:hover{
    background-color: #fff;
    color: #0089CF;
    transition: 0.2s all;
}
.header-btn:hover a{
    
    color: #0089CF;
}
.registration-section {
    background-color: #007AC0;
}
.registation-title {
    padding-top: 120px;
    margin-bottom: 30px;
}
.registation-title p {
    font-size: 39px;
    font-family: 'Proxima Nova N2';
}
.registration-text p {
    font-size: 29px;
    font-family: 'Proxima Nova E';
    line-height: 57px;
}
.registration-text {
    margin-bottom: 60px;
}
.forn-line label {
    font-family: 'Proxima Nova E';
    font-size: 22px;
    
}
.forn-line label input {
    outline: none;
    opacity: 0.8;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    background-color: transparent;
    max-width: 420px;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    font-size: 18px;
    font-family: 'Proxima Nova E';
    margin-top: 10px;
}
.forn-line label select {
    outline: none;
    opacity: 0.8;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    background-color: transparent;
    max-width: 420px;
    width: 100%;
    padding-top:  20px;
    padding-bottom:20px;
    color: #fff;
    font-size: 18px;
    font-family: 'Proxima Nova E';
    margin-top: 10px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-left: 25px;
    
    background-image: url('/img/Vector\ 2.png');
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .85em auto, 100%; 
   
    
}
.forn-line label select option {
    color: #626261;
    background-color: #fff;
   
}

.form-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 890px;
}
.forn-line {
    width: 100%;
}
.forn-line label input:hover {
    opacity: 1;
}
.form-wrapper {
    margin-bottom: 40px;
}
.forn-line label select:hover {
    opacity: 1;
}
.select.active {
    background-color: #fff;
    color: #626261;
    opacity: 1;
    transition: 0s;
    background-image: url('/img/Vector\ 1.png');
    background-repeat: no-repeat, repeat;
background-position: right .7em top 50%, 0 0;
background-size: .85em auto, 100%; 
}
span {
    color: #fff;
    font-size: 16px;
    font-family: 'Proxima Nova E';
  
}
.info-mob {
    display: none;
}
.form-wrapperlast {
    margin-bottom: 70px;
}
input[type=checkbox] {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    cursor: pointer;
    font-size: 19px;
    position: relative;
    border: 2px solid #fff;
    background-color: #007AC0;
    appearance: none;
  }
  
 
  
  input[type=checkbox]:checked:after {
    content: "\2714";
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    bottom: 9px;
    color: #fff;
    margin: auto;
  }
.chec {
    display: flex;
    align-items: center;
}
.check-wrap {
    display: inline;
    margin-top: 10px;
}

.checkp {
    font-size: 16px;
    font-family: 'Proxima Nova E';
    margin-top: -25px;
    margin-left: 35px;
}
.button {
    margin-top: 45px;
    padding-bottom: 120px;
}
.button a {
    color: #0080C8;
    font-family: 'Proxima Nova N2';
    font-size: 20px;
    background-color: #fff;
    outline: none;
    border: none;
    padding: 20px 60px;
    cursor: pointer;
}
.button button:hover {
    box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.25);
}
.info-bar {
    margin-top: 492px;
    margin-bottom: 439px;
    position: relative;
}
.info-bar img {
    width: 100%;
}
.info-bar-item {
    max-width: 200px;
}
.info-bar-item {
    position: absolute;
    left: 33px;
    top: -170px;
}
.info-bar-item p {
    color: #252525;
    font-size: 20px;
    font-family: 'Proxima Nova N';
}
.info-bar-item::before {
    content: '';
    position: absolute;
    left: -10px;
    top: 0;
    bottom: 0;
    height: 172px;
    width: 4px;
    background-color:  #E5E5E5;
}
.logoC {
    display: block;
}
.logoM {
    display: none;
}
.info-time {
    padding: 7px 13px;
    background-color: #0080C8;
    max-width: fit-content;
    font-family: 'Proxima Nova N2';
    margin-top: 15px;
    margin-bottom: 30px;
}
.info-bar-item2 {
    left: 484px;
    top: -195px;
}
.info-bar-item3 {
    left: 936px;
    top: -312px;
}
.info-bar-item4 {
    left: 258px;
    top: 95px;
}
.info-bar-item5 {
    left: 710px;
    top: 95px;
}
.info-bar-item2::before {
    content: '';
    position: absolute;
    left: -10px;
    top: 0;
    bottom: 0;
    height: 195px;
    width: 4px;
    background-color:  #E5E5E5;
}.info-bar-item3::before {
    content: '';
    position: absolute;
    left: -10px;
    top: 0;
    bottom: 0;
    height: 312px;
    width: 4px;
    background-color:  #E5E5E5;
}
.info-bar-item4::before {
    content: '';
    position: absolute;
    left: -10px;
    
    bottom: 0;
    height: 272px;
    top: -20px;
    width: 4px;
    background-color:  #E5E5E5;
}
.info-bar-item5::before {
    content: '';
    position: absolute;
    left: -10px;
    top: -20px;
    bottom: 0;
    height: 212px;
    width: 4px;
    background-color:  #E5E5E5;
}
.info-bar-item4 p:last-child {
    color: #626261;
    font-size: 16px;
    margin-top: 10px;
}
.info-bar-item4 .info-time {
    margin-bottom: 15px;
}
.info-bar-item5 .info-time {
    margin-bottom: 15px;
    
}
.info {
    position: relative;
}
.info::after {
    content: url('/img/rightbg\ 1.png');
    position: absolute;
    top: -490px;
    z-index: -9999;
}
.info::before {
    content: url('/img/rightbg\ 2.png');
    position: absolute;
    bottom: -450px;
    right: 0;
    z-index: -9999;
}
.footer {
    background-color:  #00589C;

}
.footer-title {
    padding-top: 120px;

}
.footer-title p {
    color: #fff;
    font-size: 48px;
    font-family: 'Proxima Nova B';
    text-transform: uppercase;
}
.footer-about {
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-mail {
    max-width: 500px;
    margin-bottom: 97px;
}
.footer-mail p {
    font-size: 24px;
    line-height: 29px;
    font-family: 'Proxima Nova E';
}
.footer-mail a {
    border-bottom: 1px solid #fff;
    text-transform: uppercase;
    padding-top: 15px;
    font-size: 36px;
    font-family: 'Proxima Nova N2';
}
.footer-ship {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-owner p {
    color: #fff;
    font-size: 18px;
    font-family: 'Proxima Nova E';
}
.footer-owner {
    max-width: 500px;
}
@media screen and (max-width: 1200px) {
    .header {
        background-image: url('/img/bg1-720.png');
    }
    .container {
        margin-left: 45px;
        margin-right: 45px;
    }
    
    .header-challenge p {
        font-size: 70px;
    }
    .header-new p {
        font-size: 37px;
    }
    .header-about__text {
        flex: 0 0 70%;
    }
    .header-about__text p {
        font-size: 22px;
    }
    .header-about__time p{
        font-size: 21px;
    }
    .header-about__time {
        margin-left: 0px;
    }
    .header-challenge {
        margin-top: 178px;
    }
    .header-btn {
        margin-left: 50px;
        
    }
    .header-reg-wrap {
        padding-bottom: 246px;
    }
    .registation-title p {
        font-size: 33px;
        font-family: 'Proxima Nova N2';
    }
    .registration-text p {
        font-size: 22px;
        font-family: 'Proxima Nova E';
        line-height: 43px;
    }
    .form-wrapper {
        display: block;
    }
    .forn-line label input {
        max-width: 100%;
        margin-bottom: 35px;
    }
    .form-wrapper {
        margin-bottom: 0;
    }
    .forn-line label select {
        max-width: 100%;
        margin-bottom: 35px;
    }
    .mail{
        margin-bottom: 5px!important;
    }
    .mailtype {
        margin-bottom: 42px;
    }
    .footer-title {
        padding-top: 90px;
    }
    .footer-title p {
        color: #fff;
        font-size: 36px;
        font-family: 'Proxima Nova B';
        text-transform: uppercase;
    }
    .footer-about {
        display: block;
        margin-top: 40px;
    }
    .footer-mail {
        margin-bottom: 40px;
    }
    .footer-mail a {
        border-bottom: 1px solid #fff;
        text-transform: uppercase;
        padding-top: 15px;
        font-size: 24px;
        font-family: 'Proxima Nova N2';
    }
    .footer-mail p {
        font-size: 18px;
        line-height: 29px;
        font-family: 'Proxima Nova E';
    }
    .footer-owner {
        max-width: 406px;
    }
    .footer-ship {
        align-items: flex-start;
    }
    
    .info {
        display: none;
    }
    .info-mob {
        display: block;
    }
    .footer-owner p {
        color: #fff;
        font-size: 16px;
        font-family: 'Proxima Nova E';
    }
    .infom-bar {
        position: relative;
    }
    .infom-item {
        position: absolute;
        top: 50px;
        
        color: #252525;
        display: flex;
        
        left: 80px;
        right: 0;
        margin: auto;
    }
    .infom-item2 {
        top: 229px;
    }
    .infom-item3 {
        top: 408px;
    }
    .infom-time {
        padding: 5px 5px;
        background-color: #0080C8;
        max-width: 130px;
        width: 100%;
        max-height: 32px;
        display: flex;
        align-items: center;
        font-family: 'Proxima Nova N2';
        
    }
    .infom-time2 {
        max-height: 44px;
    }
    .infom-item4 {
        top: 587px;
    }
    .infom-time p{
        font-size: 18px;
        font-family: 'Proxima Nova N2';
        color: #fff;
    }
    .infom-text {
        max-width: 420px;
        margin-left: 45px;
    }
    .infom-text p {
        color: #252525;
        font-size: 18px;
        font-family: 'Proxima Nova N';
    }
    .infom-item::after {
        content: '';
        position: absolute;
        top: -20px;
        left: -10px;
        right: 0;
        width: 100%;
        height: 4px;
        background-color: #E5E5E5;
    }
    .infom-bar {
        margin-top: 120px;
        margin-bottom: 120px;
    }
    .infom-text-g{
        color: #626261!important;
        font-size: 16px!important;

    }
    .infom-time p {
        font-size: 16px;
        font-family: 'Proxima Nova N2';
        color: #fff;
    }
    .infom-item5 {
        top: 765px;
    }
    .infom-time p {
        font-size: 15px;
        font-family: 'Proxima Nova N2';
        color: #fff;
    }
}
@media screen and (max-width: 615px) {
    .header-btn {
        display: none;
    }
    .header-challenge {
        margin-top: 100px;
    }
    .header-challenge p {
        font-size: 50px;
    }
    .header-new p {
        font-size: 30px;
        line-height: 37px;
    }
    .header-new {
        margin-top: 15px;
        margin-bottom: 40px;
    }
    .header-about__time p {
        font-size: 17px;
    }
    .header-about__text p {
        font-size: 17px;
    }
    .infom-text {
        max-width: 420px;
        margin-left: 25px;
    }
    .infom-time2 {
        max-height: 44px;
        min-width: 126px;
    }
    .infom-text p {
        color: #252525;
        font-size: 16px;
        font-family: 'Proxima Nova N';
    }
    .container {
        margin-left: 30px;
        margin-right: 30px;
    }
    .registation-title p {
        font-size: 28px;
        font-family: 'Proxima Nova N2';
    }
    .registration-text p {
        font-size: 20px;
        font-family: 'Proxima Nova E';
        line-height: 43px;
    }
}
@media screen and (max-width: 550px) {
    .infom-item {
        display: block;
    }
    .infom-text {
        margin-left: 0;
        margin-top: 5px;
    }
    .header-challenge {
        margin-top: 50px;
    }
    .header-challenge  p {
        font-size: 40px;
    }
    .header-new p {
        font-size: 24px;
        line-height: 28px;
    }
    .header-about {
        display: block;
    }
    .header-about__text p {
        font-size: 18px;
    }
    .header-about__text {
        margin-bottom: 15px;
    }
    .header-about__time p{
        font-size: 18px;
    }
    .header-about {
        margin-bottom: 40px;
    }
    .header-reg {
        max-width: 100%;
    }
    .header-reg a {
        color: #0080C8;
        padding: 20px 50px;
        font-family: 'Proxima Nova N2';
        font-size: 16px;
    }
    .logoM {
        display: block;
    }
    .logoC {
        display: none;
    }
    .header-reg-wrap {
        padding-bottom: 65px;
    }
    .registation-title {
        padding-top: 60px;
    }
    .registation-title p {
        font-size: 22px;
        font-family: 'Proxima Nova N2';
    }
    .registation-title {
        padding-top: 120px;
        margin-bottom: 20px;
    }
    .registration-text {
        margin-bottom: 25px;
    }
    .registration-text p {
        font-size: 18px;
        font-family: 'Proxima Nova E';
        line-height: 21px;
    }
    .forn-line label input {
        
        padding-top: 17px;
        padding-bottom: 17px;
        
    }
    .forn-line label {
        font-size: 18px;
    }
    .forn-line label select {
        font-size: 14px;
        padding-left: 10px;
    }
    .infom-bar {
        margin-top: 80px;
        margin-bottom: 86px;
    }
    .container {
        margin-left: 15px;
        margin-right: 15px;
    }
    span {
        color: #fff;
        font-size: 13px;
        font-family: 'Proxima Nova E';
    }
    .checkp {
        font-size: 16px;
        font-family: 'Proxima Nova E';
        margin-top: -30px;
        margin-left: 35px;
    }
    .infom-text p {
        color: #252525;
        font-size: 14px;
        font-family: 'Proxima Nova N';
    }
    .infom-time p {
        font-size: 14px;
        font-family: 'Proxima Nova N2';
        color: #fff;
    }
    .infom-time {
        max-width: 105px;
    }
    .footer-title {
        padding-top: 60px;

    }
    .footer-title p {
        font-size: 24px;
    }
    .footer-about {
        display: block;
        margin-top: 30px;
    }
    .footer-mail p {
        font-size: 14px;
        line-height: 29px;
        font-family: 'Proxima Nova E';
    }
    .footer-mail a {
        border-bottom: 1px solid #fff;
        text-transform: uppercase;
        padding-top: 15px;
        font-size: 18px;
        font-family: 'Proxima Nova N2';
    }
    .footer-mail {
        margin-bottom: 30px;
    }
    .footer-ship {
        margin-top: 60px;
    }
    .footer-ship {
        display: block;
    }
    .footer-owner {
        padding-bottom: 20px;
    }
    
}
@media screen and (max-width: 400px) {
    .header {
        background-image: url(/img/bg1-220.png);
    }
}
.dm-overlay {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,94,163, 0.8);
    display: none;
    overflow: auto;
    width: 100%;
    height: 100%;
    z-index: 1000;
    overflow-y: hidden;
}
/* активируем слой затемнения и модальное окно */
.dm-overlay:target {
    display: block;
/* анимация и время задержки */
    -webkit-animation: fade .6s;
    -moz-animation: fade .6s;
    animation: fade .6s;
}
/* блочная таблица */
.dm-table {
    display: table;
    width: 100%;
    height: 100%;
}
/* ячейка блочной таблицы */
.dm-cell {
    display: table-cell;
    padding: 0 1em;
    vertical-align: middle;
    text-align: center;
}
/* модальный блок */
.dm-modal {
    display: inline-block;
    padding: 20px;
/* максимально возможная ширина */
    max-width: 700px;
    width: 100%;
    text-align: center;
    background: #fff;
/* внешняя тень блока */
    -webkit-box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.22), 0px 19px 60px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.22), 0px 19px 60px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.22), 0px 19px 60px rgba(0, 0, 0, 0.3);
    color: #cfd8dc;
    text-align: left;
/* анимация и время задержки */
    -webkit-animation: fade .8s;
    -moz-animation: fade .8s;
    animation: fade .8s;
}
.dm-modal h3 {
    color: #0080C8;
    font-size: 32px;
    text-transform: uppercase;
    font-family: 'Proxima Nova B';
    text-align: center;
}
.dm-modal p {
    color: #252525;
    text-align: center;
    font-size: 20px;
    max-width: 600px;
    padding-bottom: 60px;
    margin: auto;
    font-family: 'Proxima Nova N2';
}
.p2 {
    padding-bottom: 90px;
    font-family: 'Proxima Nova N'!important;
    color: #000;
}
.close {
    display: block;
    text-align: right;
}
@media screen and (max-width: 812px) {
    .dm-modal {
       
        
        max-width: 90%;
    }
}